# Database Configurations
MYSQL_HOST=
MYSQL_PORT=
MYSQL_USERNAME=
MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=


# Auth Configurations
SECRET_KEY = ""  
ALGORITHM = "HS256"
ACCESS_TOKEN_EXPIRE_MINUTES = 60
REFRESH_TOKEN_EXPIRE_DAYS = 7

# These would be stored in your .env file
GOOGLE_CLIENT_ID = "your-google-client-id"
FACEBOOK_APP_ID = "your-facebook-app-id"
FACEBOOK_APP_SECRET = "your-facebook-app-secret"
FACEBOOK_DEBUG_TOKEN_URL="https://graph.facebook.com/debug_token"
FACEBOOK_USER_INFO_URL="https://graph.facebook.com/me"


# s3 credentials
AWS_ACCESS_KEY_ID=your-access-key-id
AWS_SECRET_ACCESS_KEY=your-secret-access-key
AWS_REGION=us-east-1
AWS_BUCKET_NAME=your-bucket-name


# Admin Emails
EMAIL_LIST=

# Stripe Credentials
STRIPE_SECRET_KEY=
STRIPE_PUBLISHABLE_KEY=
STRIPE_WEBHOOK_SECRET=

# Email Configurations

BREVO_API_KEY = 
TEMPLATE_PURCHASE_CONFIRMATION=1
TEMPLATE_ADMIN_NEW_OFFER=2
TEMPLATE_OFFER_ACCEPTED=3
TEMPLATE_OFFER_REJECTED=4
TEMPLATE_COUNTER_OFFER=5

BREVO_ALL_USERS_LIST_ID=

# License PDF Configurations
# Password used to encrypt generated license PDFs
LICENSE_PDF_PASSWORD=
# Admin email to receive license notifications
ADMIN_LICENSE_EMAIL=

OPENAI_API_KEY= 


# Brevo Email Configuration
BREVO_SENDER_NAME="Bujaa Beats"
BREVO_SENDER_EMAIL=